<div class="border border-muted rounded-sm" *ngIf="selectedRecipe">
  <div class="row ml-0">
    <div class="col-md-6 pt-2">
      <h4 class="recipe-detail__h4">{{ selectedRecipe?.name }}</h4>
      <p class="recipe-detail__p">{{ selectedRecipe?.description }}</p>
      <button
        class="btn btn-primary"
        (click)="saveRecipe()"
        [disabled]="addButtonDisabled"
      >
        {{ addButtonText }}
      </button>
    </div>
    <img
      [src]="selectedRecipe?.imagePath"
      loading="lazy"
      [alt]="selectedRecipe?.name"
      class="col-md-6"
    />
  </div>
  <div class="list-group-flush mt-2">
    <h5 class="mt-2 ml-3">Ingredients:</h5>
    <div
      class="list-group-item"
      *ngFor="let ingr of selectedRecipe?.ingredients"
    >
      {{ ingr.name + ", " + ingr.amount }}
    </div>
  </div>
</div>
