.recipe-detail {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.recipe-detail__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 15px;
  gap: 20px;
}

.recipe-detail__img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

.recipe-detail__h4 {
  padding-left: 15px;
}

.list-group {
  margin: 50px 0px 0px;
  margin-bottom: 0px;
}
