<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item list-group-item-action clearfix"
>
  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    class="img-fluid float-right"
    style="max-height: 75px"
  />
  <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
  <p class="list-group-item-text">
    {{
      recipe.description.length > 100
        ? (recipe.description | slice : 0 : 100) + "..."
        : recipe.description
    }}
  </p>
</a>
