<div class="row m-0">
  <app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>
  <div class="col-md-5 pl-0">
    <form #searcRecipeForm="ngForm" (ngSubmit)="onSubmit(searcRecipeForm)">
      <h5>Search a specific recipe</h5>
      <div class="input-group">
        <input
          type="text"
          name="search"
          class="form-control col-md-9"
          id="search-on-db"
          ngModel
          required
          minlength="3"
        />
        <div class="input-group-append">
          <input
            type="submit"
            value="Search"
            class="btn btn-primary"
            [disabled]="!searcRecipeForm.valid"
          />
        </div>
      </div>
    </form>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ul class="list-group mt-5">
      <p *ngIf="searchEmpty">Nothing found</p>
      <app-search-recipes-results
        *ngFor="let result of searchResults; index as i"
        [searchResult]="result"
        [index]="i"
        (click)="onOpenDetail(i)"
      ></app-search-recipes-results>
    </ul>
  </div>
  <div class="col-md-7 pr-0">
    <app-search-recipes-detail
      [selectedRecipe]="recipeDetail"
    ></app-search-recipes-detail>
  </div>
</div>
