<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="input-group m-0 p-0 mb-3">
    <input
      type="text"
      id="name"
      class="form-control col-md-9"
      name="name"
      ngModel
      placeholder="Name"
      aria-label="Name"
      required
      minlength="3"
    />
    <input
      type="number"
      id="amount"
      class="form-control col-md-3"
      name="amount"
      ngModel
      required
      placeholder="Amount"
      aria-label="Amount"
      pattern="^\d+(\.\d{1,2})?$"
    />
  </div>
  <div class="btn-group m-0 p-0">
    <button class="btn btn-success" type="submit" [disabled]="!f.valid">
      {{ editMode ? "Update" : "Add" }}
    </button>
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete()"
      *ngIf="editMode"
    >
      Delete
    </button>
    <button class="btn btn-primary" type="button" (click)="onClear()">
      Clear
    </button>
  </div>
</form>
